@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    overscroll-behavior: none;
  }

  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  @supports (padding: max(0px)) {
    .pb-safe {
      padding-bottom: max(1rem, env(safe-area-inset-bottom));
    }
  }
}
